<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>文件内容隐藏</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data" action="/excel/upload">
    <div>
        excel隐藏源文件: <input type="file" accept="*.xls,*.xlw,*.xlsx,*.xlt" name="file"/>
        <br/>
        <br/>
        <input type="submit" value="上传文件"/>
        <input type="hidden" name="type" value="hide"/>
        <br/>
        <br/>

    </div>

</form>

</body>
</html>